<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Edit User</h1>
    </div>

<form th:action="@{/users/save}" method="post"
      style="max-width:600px; margin: 0 auto;"
      th:object="${user}">
    <input class="form-control" hidden type="text" th:value="${user.id}" th:field="*{id}"/>
    <div class="m-3">
        <div class="form-group row">
            <label class="col-form-label col-4">First Name</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{firstName}"
                       required minlength="5" maxlength="30"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4">Last Name</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{lastName}"
                       required minlength="5" maxlength="30"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">Email</label>
            <div class="col-8">
                <input 
                type="text"
                name="email"
                th:field="*{email}"
                placeholder="Enter New Email" 
                class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">Password</label>
            <div class="col-8">
                <input 
                type="password"
                name="password"
                placeholder="Enter Here A New Password If Desired" 
                class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">Enabled</label>
            <div class="col-8">
                <input type="checkbox"  th:field="*{enabled}"
                       />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4">Roles</label>
            <div class="col-8">
               <th:block th:each="role:${roleList}">
                <input type="checkbox"
                       name="roles"
                       th:field="*{roles}"
                       th:value="${role.id}"
                       th:text="${role.name}" class="m-2"/>
               </th:block>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" href="#" type="submit" th:value="Update">Update</button>
    </div>
</div>
</form>

</div>

</body>
</html>
