<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
<head>
    <link rel="stylesheet" th:href="@{/styles/usersStyle.css}" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="background-opacity">
    <div th:align="center"><h2>Users</h2></div>


    <table  class="table table-light table-striped table-hover" th:if="${ not#lists.isEmpty(users)}">
        <thead class="thead-dark">
             <tr><th scope="col">Id</th>
                 <th scope="col">First Name</th>
                 <th scope="col">Last Name</th>
                 <th scope="col">Password</th>
                 <th scope="col">Enabled</th>
                 <th scope="col">Roles</th>
                 <th scope="col">Edit</th>
            </tr>
        </thead>

        <th:block th:each="user : ${users}">
            <tr>
                <td><a  th:text="${user.id}"> ID</a></td>
                <td><a  th:text="${user.firstName}"> FirstName</a></td>
                <td><a  th:text="${user.lastName}"> LastName</a></td>
                <td th:text="${user.password}">PASSWORD </td>
                <td th:text="${user.enabled}">ENABLED </td>
                <td th:text="${user.getRoleNames()}">ROLES </td>

                <td>

                      <form th:action="@{'/users/{id}' (id=${user.id})}" th:method="get">
                          <button th:href="@{/users/}+${user.id}" class="btn page-link "  type="submit" >
                              <b>EDIT</b>
                          </button></form>
                          <br>
                    <form th:action="@{'/users/delete/{id}' (id=${user.id})}" th:method="delete">
                          <button th:href="@{/users/delete}+${user.id}" class="btn  btn-danger">DELETE
                          </button>
                    </form>

                </td>
            </tr>
        </th:block>
    </table>
<div class="background-opacity">
<a th:href="${'/admin'}">
    <input id="backBtn" type="button" class="bg-warning bg-gradient btn-lg btn-primary"
           th:value="Back"/></a>
</div>
</div>
</body>
</html>
