@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400&display=swap');

body{font-family: 'Sansita Swashed', cursive;
   background-image: url("../pics/background.jpg");
   height: 100%;
   margin:0 auto;
}

.admin-container{
   height: 490px;
}
a:visited{
   color: black;
}
a{
   color:black;
}
.background-opacity{
   background-color: rgba(204, 204, 204, 0.91);

}