
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400&display=swap');

html, body{position:relative;
    background-image: url("../pics/background.jpg");
    font-family:sans-serif;
    height: 100%;
}


.loginBox{
  background-color: rgba(7, 0, 0, 0.87);
    color: white;
    border-radius: 20px;
}


.button {
    display: inline-block;
    background-color: #3d76bd;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 12px;
    font-family:sans-serif;
    position: absolute;
    right : 10px;
    bottom : 16px;
  }
  .button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


